*{
    margin: 0;
    padding: 0;
}
.main{
    background-image: url("https://cdn.prod.website-files.com/5e7fdf360c4ef47490fa4124/600746a4f0726565bb36393a_Patience-Quote.jpg");
    height: 95vh;
    width: 100%; 
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    image-rendering: crisp-edges;
}
.lang-select{
   
    font-size: 12px;
    border-radius: 8px;
    color: #333;
    cursor: pointer;
}
.location{
   
    font-size: 12px;
    border-radius: 8px;
    color: #333;
    cursor: pointer;
}
.nav{
    display: flex;
    justify-content: right;
    height: 35px;
    width: 70x;
    margin-right: 5px;
   
}
.signin{
    background-color: red;
    height: 40px;
    width: 70px;
    margin-right: 10px;
    color: aliceblue;
    font-size: large;
}


#line{
    color: white;
    font-size: 102;
    display: flex;
    justify-content: center;
    margin-top: 450px;
    
}
#sec{
     color: cornsilk;
     display: flex;
    justify-content: center; 
    font-size: 68;
    margin-top: 5px;

}
h3{
   
     color: cornsilk;
     display: flex;
    justify-content: center; 
    font-size: 40; 
    margin-top: 10px;

}
#email{
    color: white;
    width: 100rem;
    height: 2rem;
    display: flex;
   justify-content: center;
    font-size: xx-large; 
    align-content: center;
    margin-top: 10px;
   
    

}
#email input {
    background-color: #3e3e3e; /* optional: input background */
    color: white;
     
}

.get{
    width: 150px;
    height: 2rem;
    background-color:red;
    color: white;
    font-size: large;
    margin-inline-start: 12px;

}
.class{
     border-radius: 50%;
     border-color: crimson;
     background-color: rgb(5, 5, 33);
     display: flex;
     
}




